* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


.header {
    width: 100%;
    height: 80px;
    background-color: black;
    position: fixed;
    z-index: 3;
}

@media screen and (max-width: 484px) {
    .menu {
        float: right;
        line-height: 80px;
        margin-top: -50px;
    }
}

.container {
    max-width: 100%;
    margin: auto;
}

.logo {
    float: left;
    line-height: 65px;
}

.menu {
    float: right;
    line-height: 80px;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu a {
    display: block;
    text-decoration: none;
    padding: 0px 20px;
    color: white;
    transition: all 500ms ease;
}

.menu a:hover {
    background: grey;
    color: black;
}

.submenu {
    position: relative;
}

.submenu .carrito {
    display: none;
}

.carrito {
    width: 20px;
}

.submenu:hover .carrito {
    display: block;
    position: absolute;
    right: 0;
    color: white;
    top: 100%;
    z-index: 1;
    background-color: orange;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
    z-index: 1;
    text-align: center;
}

.submenu:hover #vaciar-carrito #pagar {
    padding: 0px;
}

.vaciar-carrito {
    border-radius: 20px;
    background-color: black;
    text-align: center;
}

.lista-carrito {
    width: 250px;
}

.fix {
    padding-left: 2px;
}

.portada {
    width: 100vw;
    display: flex;
    align-items: center;
    padding-top: 230px;
    height: 450px;
}

.portada-video {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 450px;
}

.portada-video .video {
    min-width: 100%;
}

.portada-overlay {
    height: 450px;
    width: 100vw;
    position: absolute;
    top: 80px;
    left: 0%;
    background: hsla(16, 11%, 20%, 0.384);
    z-index: 1;
    padding-top: 230px;
}

.content {
    max-width: 100vw;
    padding-left: 11rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.portada-content {
    z-index: 2;
    top: 80px;
    position: static;
    margin-left: 191px;
    text-align: center;
}

.portada-content h1 {
    top: 80px;
    font-size: 50px;
    margin-bottom: 0;
    font-family: 'Lobster', cursive;
    color: brown;
}

.portada-content p {
    top: 80px;
    font-size: 40px;
    display: block;
    padding-bottom: 4px;
}

.btn {
    background: rgb(0, 123, 255);
    color: bisque;
    text-decoration: none;

}

.btn:hover {
    color: white;
    background: black;
}

body {
    background: url(/images/backinicio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.img-carrito {
    width: 35px;
}

.containercuerpo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 30em;
    margin-top: 20px;
}

#containeruno {
    margin-top: 160px;
}

.elementoimg {
    border-radius: 20px;
    align-items: center;
    width: 49.5%;
    height: 25em;
    object-fit: fill;
    z-index: 0;
    position: relative;
    right: 25px
}

#contimguno {
    content: url(../images/risotto-alla-milanese.jpg);
}


#contimgdos {
    content: url(../images/el-restaurante.jpg);
    right: 0px;
    left: 30px
}

#contimgtres {
    content: url(../images/contacto.jpg);
}

.elementotexto {
    color: black;
    background-color: #6c757d;
    width: 49.5%;
    height: 25em;
    padding: 35px;
    align-items: center;
    border-radius: 20px;
    z-index: 1;
    position: relative;
    left: 30px;
}

.elementotexto h1 {
    font-family: 'Lobster', cursive;
    font-size: 70px;
    margin-bottom: 20px;
    z-index: 1;
}

@media screen and (max-width: 1153px) {
    .elementotexto h1 {
        font-family: 'Lobster', cursive;
        font-size: 50px;
        margin-bottom: 20px;
        z-index: 1;
    }
}

@media screen and (max-width: 865px) {
    .elementotexto h1 {
        font-family: 'Lobster', cursive;
        font-size: 40px;
        margin-bottom: 10px;
        z-index: 1;
    }

    .elementotexto p {
        font-size: 15px;
        z-index: 1;
    }
}

@media screen and (max-width: 733px) {
    .elementotexto h1 {
        font-family: 'Lobster', cursive;
        font-size: 20px;
        margin-bottom: px;
        z-index: 1;
    }

    .elementotexto p {
        font-size: 13px !important;
        z-index: 1;
    }
}

@media screen and (min-width: 600px) {
    .elementotexto h1 {
        font-family: 'Lobster', cursive;
        font-size: 30px;
        z-index: 1;
    }

    .elementotexto p {
        font-size: 10px;
        z-index: 1;
    }
}

#medio {
    left: -25px;

}

.elementotexto p {
    font-size: 20px;
    z-index: 1
}

@media screen and (min-width: 700px) {
    .portada-content p {
        top: 80px;
        font-size: 33px;
        display: block;
        padding-bottom: 4px;
        color: white;
    }

    .piepagina .foottexto {
        background-color: black;
        height: 60px;
        display: grid;
        grid-template-columns: 18.66% 13.66% 13.66% 10% !important;
    }
}

@media screen and (max-width: 600px) {
    .portada-content p {
        top: 80px;
        font-size: 33px;
        display: block;
        padding-bottom: 4px;
        color: white;
    }

    a span.a-text {
        font-size: 0;
    }

    .piepagina .foottexto {
        background-color: black;
        height: 60px;
        display: grid;
        grid-template-columns: 18.66% 13.66% 13.66% 10% !important;
    }

}

@media screen and (max-width: 1600px) {
    .portada-content {
        z-index: 2;
        top: 80px;
        position: static;
        margin-left: 0;
        text-align: center;
        color: white;
    }
}

@media screen and (max-width: 1200px) {
    .portada-content {
        z-index: 2;
        top: 80px;
        position: static;
        margin-left: 0;
        text-align: center;
        color: white;
    }
}

@media screen and (max-width: 700px) {
    .portada-content {
        z-index: 2;
        top: 80px;
        position: static;
        margin-left: 0;
        text-align: center;
        color: white;
    }
}

@media screen and (max-width: 420px) {
    .piepagina .foottexto {
        background-color: black;
        height: 60px;
        display: grid;
        grid-template-columns: 18.66% 13.66% 13.66% 10% !important;
    }

    .elementoimg {
        border-radius: 20px;
        align-items: center;
        width: 49.5%;
        height: 25em;
        object-fit: cover;
        z-index: 0;
        position: relative;
        right: 25px;
    }

    .portada-content {
        z-index: 2;
        top: 80px;
        position: static;
        margin-left: 0;
        text-align: center;
    }

    .menu {
        margin-top: -73px !important;
        margin-right: -24px;
    }

    .weather {
        color: white;
        margin-left: 28px;
        text-align: center;
        display: inline-block;
        margin-top: 0px;
    }
}


@media screen and (max-width: 412px) {
    .menu {
        text-align: center;
        margin-top: -40px;
        padding-right: 20px;
    }

    .weather {
        color: white;
        margin-left: -2px !important;
        margin-top: 17px !important;
        font-size: 13px;
        padding-top: 4px;
    }

    .elementoimg {
        border-radius: 20px;
        align-items: center;
        width: 49.5%;
        height: 25em;
        object-fit: cover;
        z-index: 0;
        position: relative;
        right: 25px;
    }
}

.content {
    max-width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.piepagina .foottexto {
    background-color: black;
    height: 60px;
    display: grid;
    grid-template-columns: 5.66% 7.66% 0.66% 10%;
}

.piepagina .foottexto .box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    color: azure;
}

.box {
    height: 60px;
}

.piepagina .foottexto .box a {
    text-decoration: none;
}

.piepagina .foottexto .box p {
    margin-bottom: 0%;
    text-align: end;
}

.towhatsapp {
    display: flex;
    width: 30px;
    height: 30px;
    content: url(../images/whatsapp.png);
}

.tofacebook {
    display: flex;
    width: 30px;
    height: 30px;
    content: url(../images/facebook.png);
}

.weather {
    color: white;
    margin-left: 28px;
    text-align: center;
    display: inline-block;
    margin-top: 0px;
}

@media screen and (max-width: 410px) {}