* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    width: 100%;
    height: 80px;
    background-color: black;
    position: fixed;
    z-index: 3;
}

.container {
    max-width: 100%;
    margin: auto;
}

.logo {
    float: left;
    line-height: 65px;
}

.menu {
    float: right;
    line-height: 80px;
}

.menu ul {
    display: flex;
    list-style: none;
    margin-right: -44px;
}

.menu a {
    display: block;
    text-decoration: none;
    padding: 0px 20px;
    color: white;
    transition: all 500ms ease;
}

.menu a:hover {
    background: grey;
    color: black;
}

.portada {
    width: 100vw;
    display: flex;
    align-items: center;
    padding-top: 230px;
    height: 450px;
}

.portada-video {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 450px;
}

.portada-video .video {
    min-width: 100%;
}

.portada-overlay {
    height: 450px;
    width: 100vw;
    position: absolute;
    top: 80px;
    left: 0%;
    background: rgba(255, 160, 122, 0.384);
    z-index: 1;
    padding-top: 230px;
}

.content {
    max-width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.portada-content {
    z-index: 2;
    top: 80px;
    position: static;
}

.portada-content h1 {
    top: 80px;
    font-size: 50px;
    margin-bottom: 0;
    font-family: 'Lobster', cursive;
    color: brown;
}

.portada-content p {
    top: 80px;
    font-size: 30px;
    display: block;
    padding-bottom: 4px;
}

.btn {
    background: rgb(0, 123, 255);
    color: bisque;
    text-decoration: none;

}

.btn:hover {
    color: white;
    background: black;
}

body {
    background-color: rgb(226, 173, 129);
}

.img-carrito {
    width: 35px;
}

.containercuerpo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 30em;
    margin-top: 20px;
}

#containeruno{
    margin-top: 160px;
}

.elementoimg {
    border: 1px brown solid;
    border-radius: 20px;
    align-items: center;
    width: 49.5%;
    height: 25em;
    object-fit: fill;
    z-index: 0;
    position: relative;
    right: 25px
}
    
#contimguno {
    content: url(https://i.blogs.es/4dff8b/pasta-mantequilla/840_560.jpg);
}

#contimgdos {
    content: url(https://i.blogs.es/4dff8b/pasta-mantequilla/840_560.jpg);
    right: 0px;
    left: 30px
}

#contimgtres {
    content: url(https://i.blogs.es/4dff8b/pasta-mantequilla/840_560.jpg);
}

.elementotexto {
    color: brown;
    background-color: lightsalmon;
    width: 49.5%;
    height: 25em;
    padding: 35px;
    align-items: center;
    border: 1px brown solid;
    border-radius: 20px;
    z-index: 1;
    position: relative;
    left: 30px
}

.elementotexto h1 {
    font-family: 'Lobster', cursive;
    font-size: 70px;
    margin-bottom: 20px;
    z-index: 1
}

#medio {
    left: -25px;

}

.elementotexto p {
    font-size: 20px;
    z-index: 1
}