* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    width: 100%;
    height: 80px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
}

.container {
    max-width: 100%;
    margin: auto;
}

.logo {
    float: left;
    line-height: 65px;
    padding-left: 8px;
}

.menu {
    float: right;
    line-height: 80px;
    margin-right: 70px;
}

.menu ul {
    display: flex;
    list-style: none;
    margin-right: -44px;
}

.menu a {
    display: block;
    text-decoration: none;
    padding: 0px 20px;
    color: white;
    transition: all 500ms ease;
}

.menu a:hover {
    background: grey;
    color: black;
}

.img-carrito {
    width: 35px;
    padding-top: 23px;
    display: flex;
    margin-left: 30px;
}

.wrapp {
    display: flex;
    column-count: 2;
    column-gap: 0px;
}

.izquierda {
    flex: 50%;
    padding-top: 50px;
    margin-top: 50px;
    margin-left: 10%;
    background-color: white;
}

.derecha {
    flex: 50%;
    padding-top: 50px;
    margin-top: 50px;
    margin-right: 10%;
    background-color: white;
}

.ladoizq {
    margin-left: 15%;
    flex-direction: column;
}

.scroll-bg {
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.scroll-div {
    height: 700px;
    object-fit: cover;
    width: 600px;
    display: flex;
    flex-direction: column;
}

.lista-wrap {
    padding: 20px;
    border-top: 1px solid #cfcfcf;
}

body {
    padding: 80px 0 0 40px;
    background: url(../images/fondoSucursales.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}